<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144296455460-lm1cd0vfemkjmoaf0qfc9i9oel0284kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144296455460-lm1cd0vfemkjmoaf0qfc9i9oel0284kn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144296455460-bi07publhqs8klv57v8ji02jec0q33cm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjRGcZh2VGTdcrFp3qynJ0DyL-Ezg8tgI</string>
	<key>GCM_SENDER_ID</key>
	<string>144296455460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thanhvientruyensieuhay.beblue.com</string>
	<key>PROJECT_ID</key>
	<string>truyensieuhaychat</string>
	<key>STORAGE_BUCKET</key>
	<string>truyensieuhaychat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144296455460:ios:b28f9c73709a895a7997b1</string>
	<key>DATABASE_URL</key>
	<string>https://truyensieuhaychat.firebaseio.com</string>
</dict>
</plist>